<%= link_to job_path(job) do %>
    <li class="list-group-item">
      <div class="row text-center">
        <div class="col job-title">
          <h5 class="keyword"><%= job.title %></h5>
          <p><%= job.description %></p>
        </div>
        <div class="col job-wage"><%= job.wage_lower_bound %>～<%= job.wage_upper_bound %></div>
        <div class="col job-date"><%= job.created_at %></div>
      </div>
    </li>
<% end %>
